@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@layer components{
 .sideopt{
    @apply px-2 py-3 text-base lg:text-[19px] hover:bg-white cursor-pointer
  }
}
